#Backend-Contracts:
Backend-Contracts/contracts/bridge.sol
Backend-Contracts/artifacts/
Backend-Contracts/cache/
Backend-Contracts/node_modules/
Backend-Contracts/scripts/
Backend-Contracts/test/
Backend-Contracts/.env
Backend-Contracts/todo.txt

#Backend-Server:
Backend-Server/.env
Backend-Server/node_modules/
Backend-Server/ipfsData
Backend-Server/todo.txt

#Frontend
Frontend/node_modules/
Frontend/src/deployedInfo/
Frontend/todo.txt