.container {
    position: fixed;
    width: 100%;
    height: 82%;
    margin-left: 40px;
    background: linear-gradient(160deg, #333 50%, #eee 50%);
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .centered-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .big-button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
    width: 250px;
    text-align: center;
  }
  
  .big-button:hover {
    background-color: #f2f2f2;
    border-color: #999;
  }
  
  
  .registration-card-otp {
    padding: 30px;
    margin: 100px auto;
    width: 45vw;
    height: 30vw;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(24, 40, 214, 0.5), 0 1px 3px rgba(223, 6, 6, 0.5);
    background-color: rgba(32, 30, 30, 0.9) !important;
  }
  
  .chooseBtn{
    display: block;
    width: 15em;
  }
  
  .back-btn-otp{
      margin-right: 30em;
      position: absolute;
      margin-top: -21em;
  }
  
  .paymentForm>div{
    margin-bottom: 20px !important;
  }
  
  .paymentForm-otp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .phoneInp-otp.PhoneInput .PhoneInputCountryIcon{
    width: 4.5rem !important;
    position: absolute;
    margin-left: 1px;
  }
  
  .phoneInp-otp.PhoneInput .PhoneInputInput {
    display: inline-block;
    margin-left: 70px;
    width: 18em;
    height: 3em;
  }
  
  .phoneInp-otp.PhoneInput .PhoneInputCountrySelect{
    position: absolute;
    top: 20;
    left: 30;
    height: 48px;
    width: 75px;
    z-index: 1;
    border: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .paymentSubmit-otp{
    width: 15em;
    margin-top: 60px;
    padding: 16px;
  }
  
  .form-control{
    width: 15em;
  }

  .otpVerifySec{
    width: 60px !important;
    height: 60px !important;
  }

  .otpVerifySec input{
    height: 50px !important;
  }

  .otpVerifySec:focus{
    box-shadow: 0 0 45px #BFBFBF;
    background-color: #343332;
    color: white;
  }