.container {
  position: fixed;
  width: 100%;
  height: 82%;
  margin-left: 40px;
  background: linear-gradient(160deg, #333 50%, #eee 50%);
  
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big-button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
  width: 250px;
  text-align: center;
}

.big-button:hover {
  background-color: #f2f2f2;
  border-color: #999;
}


.registration-card {
  padding: 30px;
  margin: 100px auto;
  width: 45vw;
  height: 30vw;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  background-color: rgba(32, 30, 30, 0.9) !important;
}

.chooseBtn{
  display: block;
  width: 15em;
}

.back-btn{
    margin-right: 30em;
    position: absolute;
    margin-top: -21em;
}

.paymentForm>div{
  margin-bottom: 20px !important;
}

.paymentForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PhoneInputCountryIcon{
  width: 3rem !important;
  position: absolute;
  margin-left: 3px;
}

.PhoneInputInput {
  display: inline-block;
  margin-left: 47px;
  width: 12em;
  height: 2em;
}

.PhoneInputCountrySelect{
  position: absolute;
  top: 20;
  left: 30;
  height: 30px;
  width: 50px;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}

.paymentSubmit{
  width: 20em;
  margin-top: 35px;
  padding: 20px;
}

.form-control{
  width: 15em;
}

.modal-title{
  margin-left: 7em;
}

.modal-body{
  display: flex;
  justify-content: center;
}

.modal-body .btn{
  margin-left: 5px;
}